@page
@model FribergCarRentals_Foxtrot.Pages.Admin.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Order</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Order.OrderId" />

    <div class="form-group">
        <label asp-for="Order.StartDate"></label>
        <input asp-for="Order.StartDate" class="form-control" />
        <span asp-validation-for="Order.StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Order.EndDate"></label>
        <input asp-for="Order.EndDate" class="form-control" />
        <span asp-validation-for="Order.EndDate" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Order.Car.CarId"></label>
        <input asp-for="Order.Car.CarId" class="form-control" />
        <span asp-validation-for="Order.Car.CarId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Order.User.UserId"></label>
        <input asp-for="Order.User.UserId" class="form-control" />
        <span asp-validation-for="Order.User.UserId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>