@page
@model FribergCarRentals_Foxtrot.Pages.Customer.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="hidden" class="form-check-input" asp-for="Order.IsActive" />
                </label>
            </div>
            <div class="form-group">
                @* <label asp-for="Order.User.UserId" class="control-label"></label> *@
                <input type="hidden" asp-for="Order.User.UserId" value="@ViewData["UserId"]" /> <!--Cookie from login used as preset-->
            </div>
            <div class="form-group">
                @* <label asp-for="Order.Car.CarId" class="control-label"></label> *@
                <input type="hidden" asp-for="Car.CarId" value="@Model.Car.CarId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Order.StartDate" class="control-label"></label>
                <input type="date" asp-for="Order.StartDate" class="form-control" />
                <span asp-validation-for="Order.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.EndDate" class="control-label"></label>
                <input type="date" asp-for="Order.EndDate" class="form-control" />
                <span asp-validation-for="Order.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
