@page
@model FribergCarRentals_Foxtrot.Pages.Admin.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}



<h4>Lägg till ny bil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.Brand" class="control-label"></label>
                <input asp-for="Car.Brand" class="form-control" />
                <span asp-validation-for="Car.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Model" class="control-label"></label>
                <input asp-for="Car.Model" class="form-control" />
                <span asp-validation-for="Car.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Description" class="control-label"></label>
                <input asp-for="Car.Description" class="form-control" />
                <span asp-validation-for="Car.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Picture" class="control-label"></label>
                <input asp-for="Car.Picture" class="form-control" />
                <span asp-validation-for="Car.Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <select asp-for="Car.Category.CategoryId" asp-items="Model.Categories">
                    <option>Select a category</option>
                     </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Car.IsAvailable" /> @Html.DisplayNameFor(model => model.Car.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Car.Price" class="control-label"></label>
                <input asp-for="Car.Price" class="form-control" />
                <span asp-validation-for="Car.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
